---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview


banner:
  content: >
    <div class="banner__logo banner__logo--pandora"></div>
    <hr class="hr--center hr--double">
    <h1 class="banner-title">Honeymoon Collection</h1>


page-nav:
  - id: mini-moon
    title: Mini Moon
  - id: european-getaway
    title: European Getaway
  - id: longhaul-luxury
    title: Longhaul Luxury
  - id: pandora
    title: PANDORA


intro: >
  <p class="title title--md title--display">The wedding season is upon us!</p>
  <p>It’s time to plan your first getaway with your spouse. From long, dreamy beaches under tropical sunshine to cosy mini-moons perfect for getting away from it all immediately after the wedding, Secret Escapes and PANDORA have curated our top picks of honeymoons to make your newlywed life start the right way – with unmissable luxury escapes in spellbinding locations.</p>
  <p>Sweeten your getaway with the handpicked wedding gifts selection from PANDORA, to ensure you’re wedding-ready with hand-finished jewellery.</p>

sections:
  - id: mini-moon
    title: Mini Moon
    nav-title: Mini Moon
    link: https://www.secretescapes.com/countyFilter?skipMpuBanner=true
    description: >
      <p class="text--xl">For those looking to escape as quickly as possible, our selection of mini-moons is perfect for blissful post-reception sojourns to the outdoor, quiet delights of the gorgeous British countryside.</p>
    top-offer:
      offer-id: lodore-falls-hotel
      title: The Lake District
      description: >
        <p class="text--lg">Jutting peaks and vast, crystalline lakes make the Lake District an inspired getaway. Long romantic walks and enviable seclusion offers any couple a blissful weekend to cherish.</p>


  - id: european-getaway
    title: European Getaway
    nav-title: European Getaway
    link: https://www.secretescapes.com/euro-beach/filter
    description: >
      <p class="text--xl">Whether you’re looking for luxurious Mediterranean getaways with turquoise waters and white sands, or an alternative break in Iceland’s outdoor wonderland, we’ve got your European honeymoon covered.</p>
    top-offer:
      offer-id: boutique-mykonos-break-with-sea-views
      title: Mykonos
      description: >
        <p class="text--lg">Greece’s most glamorous island is awash with chic splendour, a magnificent menagerie of typical Greek beauty and parties, Cycladic villages and

  - id: longhaul-luxury
    title: Longhaul Luxury
    nav-title: Longhaul Luxury
    link: https://www.secretescapes.com/far-flung-beach/filter
    description: >
      <p class="text--xl">Make your honeymoon a truly unforgettable experience by flying around the world to beguiling destinations – a world-away from home yet soon-to-be close to your heart.</p>
    top-offer:
      offer-id: blissful-bali-holiday
      title: Bali
      description: >
        <p class="text--lg">Bali, home of the exotic beach escape, is a classic honeymoon favourite – and to no surprise! Azure waters and powder-white beaches fringe a balmy tropical island packed with a vibrant culture and joyous people.</p>



pandora:
  id: pandora
  title: Gifts for brides and bridesmaids
  nav-title: PANDORA
  link: https://uk.pandora.net/en/gifts/wedding-gifts/?cid=disp:customcontent:e:en-gb::LifeMoments:SecretEscapes:SS18:bn:::internal
  description: >
    <p class="text--lg">Celebrate weddings and anniversaries with beautiful jewellery gifts from PANDORA. Pop the question to your bridesmaids or maid of honour with a striking piece of jewellery, or surprise the mother of the bride or the bride-to-be with something she will love.</p>



---





<div class="bg--white vpad--xxxl">
  <div class="container container--lg text--center">
    {{page.intro}}
    <div class="space--lg"></div>
  </div>
</div>





{% for section in page.sections %}
  <div class="js-nav-section section {% cycle 'bg--grey-lightest', 'bg--white' %}">
    <div class="wp" id="{{section.id}}"></div>

    <div class="container gallery">
      <div class="row row--constant-4-4-4 row--no-gutters">
        <div class="col">
          <div class="bg-img bg-img--2-3 bg-img--lg-1-1" style="background-image: url({{site.img}}/content/{{section.id}}/01.jpg);"></div>
        </div>
        <div class="col">
          <div class="bg-img bg-img--2-3 bg-img--lg-1-1" style="background-image: url({{site.img}}/content/{{section.id}}/02.jpg);"></div>
        </div>
        <div class="col">
          <div class="bg-img bg-img--2-3 bg-img--lg-1-1" style="background-image: url({{site.img}}/content/{{section.id}}/03.jpg);"></div>
        </div>
      </div>
    </div>
    <div class="gallery__offset"></div>

    <div class="container container--xxl">
      <div class="space--xl"></div>
      <h3 class="title title--xxxl title--display">{{section.title}}</h3>
      <hr class="hr--left">
      {{section.description}}
    </div>

    <div class="vpad--xxxl">

      <div class="container">
        <div class="top-pick">
          <div class="row row--valign-center row--gutters-lg">
            <div class="col col--xl-5 col--xxxl-7">
              <span class="title title--xxxs text--upper text--bold text--wide-kern">Our top pick</span>
              <div class="space--xs"></div>
              <h3 class="title title--xl title--display text--bold">{{section.top-offer.title}}</h3>
              {{section.top-offer.description}}
            </div>
            <div class="col col--xl-7 col--xxxl-5 top-pick__offer">
              {% assign topoffer = site.data.offers | where:"id",section.top-offer.offer-id %}
              {% for offer in topoffer %}
                {% include offer/offer-sm.html %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          {% assign offers = site.data.offers | where: "category", section.id %}
          {% for offer in offers %}
            {% unless offer.id == section.top-offer.offer-id %}
              <div class="col col--lg-6 col--xxl-4">
                {% include offer/offer-sm.html %}
              </div>
            {% endunless %}
          {% endfor %}
        </div>
        <div class="text--center vpad--xxl">
          <a href="{{section.link}}" class="btn btn--partner btn--lg">View more {{section.title}} offers</a>
        </div>
      </div>

    </div>
  </div>
{% endfor %}





<div class="vpad--xxxxl">
  <div class="container text--center text--white text--wide-kern">
    <span class="title title--lg title--display text--upper">Sweeten your getaway with PANDORA...</span>
  </div>
  <div class="bg__fixed" style="background-image: url({{site.img}}/content/product-banner.jpg);"></div>
</div>





<div class="js-nav-section bg--white">
  <div class="wp" id="pandora"></div>
  <div class="vpad--xxxl">

    <div class="container text--center">

      <div class="container container--xxxl">
        <div class="title title--xxl title--display">{{page.pandora.title}}</div>
        <hr class="hr--center">
        <div class="container container--xxl">
          {{page.pandora.description}}
        </div>
      </div>

      <div class="space--xl"></div>

      <div class="row">
      {% assign products = site.data.products %}
      {% for product in products %}
        <div class="col col--sm-6 col--xl-4 col--xxl-3">
          <div class="product boxpad--lg text--center">
            <a id="tracking-product-image-{{product.id}}" href="{{product.link}}" class="product__image bg-img bg-img--1-1 bg-img--circle" style="background-image: url({{site.img}}/products/{{product.id}}.jpg);"></a>
            <div class="space--sm"></div>
            <a id="tracking-product-title-{{product.id}}" href="{{product.link}}" class="title title--xxxs text--bold">{{product.title}}</a>
          </div>
        </div>
      {% endfor %}
      </div>

      <div class="space--xl"></div>

      <div class="container text--center">
        <a id="tracking-pandora-range-button" href="{{page.pandora.link}}" class="btn btn--lg btn--partner">Explore the range</a>
      </div>

    </div>
  </div>
</div>


