---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview


banner:
  title: Pandora Honeymoon Collection


page-nav:
  - id: mini-moon
  - id: uk-breaks
  - id: european-beach-breaks
  - id: longhaul-luxury
  - id: pandora


intro: >
  <p class="text--lg">Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>


sections:
  - id: mini-moon
    title: Mini Moon
    nav-title: Mini Moon
    description: >
      <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates</p>
      <p class="text--lg">Lipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit! Aliquid, placeat, ea. </p>
    offer-id: spectacular-oslo-bergen-break-with-optional-fjord-tour


  - id: uk-breaks
    title: UK Breaks
    nav-title: UK Breaks
    description: >
      <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates</p>
      <p class="text--lg">Lipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit! Aliquid, placeat, ea. </p>
    offer-id: farris-bad


  - id: european-beach-breaks
    title: European beach breaks
    nav-title: European beach breaks
    description: >
      <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates</p>
      <p class="text--lg">Lipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit! Aliquid, placeat, ea. </p>
    offer-id: first-hotel-marin


  - id: longhaul-luxury
    title: Longhaul Luxury
    nav-title: Longhaul Luxury
    description: >
      <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates</p>
      <p class="text--lg">Lipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit! Aliquid, placeat, ea. </p>
    offer-id: farris-bad



pandora:
  id: pandora
  title: Pandora gifting range
  nav-title: Pandora
  description: >
    <p class="text--xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates</p>



---



<div class="bg--white vpad--xxl">
  <div class="container container--xxl text--center">
    {{page.intro}}
  </div>
</div>



{% for section in page.sections %}
  <div class="js-nav-section {% cycle 'bg--grey-lightest', 'bg--white' %}">
    <div class="wp" id="{{section.id}}"></div>
    <div class="container vpad--xxxxl">

      <div class="row row--valign-center row--gutters-lg row--6-6">
        <div class="col">
          <h3 class="title title--xxl">{{section.title}}</h3>
          <hr class="hr--left">
          {{section.description}}
          <div class="space--sm"></div>
          <a href="{{section.link}}" class="btn btn--orange">View offers</a>
        </div>
        <div class="col">
          {% assign offer = site.data.offers | where:"id",section.offer-id %}
          {% for offer in offer %}
            {% include offer/offer.html %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
{% endfor %}



<div class="js-nav-section bg--grey-lightest">
  <div class="wp" id="pandora"></div>
  <div class="vpad--xxxxl">

    <div class="container container--xxl text--center">
      <div class="title title--xxl">{{page.pandora.title}}</div>
      <hr class="hr--center">
      {{page.pandora.description}}
      <div class="space--sm"></div>
    </div>

    <div class="container">
      <div class="row">
      {% assign products = site.data.products %}
      {% for product in products %}
        <div class="col col--3">
          <div class="boxpad--lg text--center">
            <div class="bg-img bg-img--1-1 bg-img--circle" style="background-image: url({{site.img}}/products/{{product.id}}.jpg);"></div>
            <div class="space--sm"></div>
            <span class="title title--xxs">{{product.title}}</span>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <div class="container text--center">
      <a href="{{page.pandora.link}}" class="btn btn--partner">View offers</a>
    </div>


  </div>
</div>



{% include page/promo-campaign.html %}